{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Kontakt{% endblock %}

{% block body %}
    <h1>Kontakt</h1>
    <p>
        Curabitur suscipit suscipit tellus. Sed aliquam ultrices mauris. Proin magna. Donec orci lectus, aliquam ut, faucibus non, 
        euismod id, nulla. Nulla sit amet est. In ac felis quis tortor malesuada pretium. Praesent turpis. Nullam dictum felis eu
        pede mollis pretium. Morbi nec metus. Vestibulum dapibus nunc ac augue. Maecenas vestibulum mollis diam. Fusce
        ac felis sit amet ligula pharetra condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Fusce id purus. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi
        sem ut ipsum. Pellentesque dapibus hendrerit tortor.
    </p>
{% endblock %}
