{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Home{% endblock %}

{% block body %}
    <div class="col-md-6">
        <h1>Kurs edukacyjny z konkursem</h1>
        <h2>Zapraszamy do udziału w kursie edukacyjnym na temat Fosidalu oraz w quizie z atrakcyjnymi nagrodami!</h2>
        <ul>
        	<li><span>1</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at auctor.</li>
        	<li><span>2</span> Nam eget magna suscipit, consequat ligula non, dignissim tortor.</li>
        	<li><span>3</span> Vestibulum malesuada mi id maximus egestas. Nunc vehicula ac nulla.</li>
        </ul>
        <a title="" href="">Weź udział</a>
        <p>Nagrodami w konkursie są skórzane etui na pieczątkę firmy Wojewodzic oraz solidne parasole z systemem anty-wind.</p>
        <p>W konkursie nagrodzonych zostanie 300 uczestników z najwyższą liczbą punktów.  </p>
    </div>
    <div class="col-md-6">
        <img alt="" src=""/>
        <p>Konkurs trwa od 00.00 do 00.00.2016r.<p>
        <p>Etapy konkursu rozpoczynają się: 00.00, 00.00 oraz 00.00.2016r. </p>
    </div>
{% endblock %}