{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Home{% endblock %}

{% block body %}
    <div class="modalBody clearfix">
        <div class="home">
            <div class="row">
                <div class="col-md-6 left-box">
                    <div class="head">
                        <h1>ZAPRASZAMY DO SZKOLENIA Z KONKURSEM </h1>
                        <h2>Weź udział w krótkim szkoleniu na temat faz zakażenia górnych dróg oddechowych i Fosidalu oraz w quizie wiedzy.</h2>
                    </div>
                    <ul>
                    	<li><span>1</span>Zapoznaj się z materiałem szkoleniowym</li>
                    	<li><span>2</span>Rozwiąż poprawnie zadanie konkursowe</li>
                    	<li><span>3</span>Zapisz swoje zgłoszenie za pośrednictwem formularza rejestracyjnego.</li>
                    </ul>
                    <a class="take-part" title="Konkus" href="{{path('competition')}}">Weź udział<i class="fa fa-angle-double-right"></i></a>
                    <p class="firstP">W każdym tygodniu nagrodzonych zostanie 50 Uczestników (w całym konkursie nagrody otrzyma 150 osób).</p>
                    <p>Nagrodami w konkursie są: skórzane etui na pieczątkę oraz etui na klucze.</p>
                </div>
                <div class="col-md-6 right-box">
                    <div class="col-bg">
                        <img class="img-responsive center-block" alt="" src="{{ asset('assets/images/rewards.png') }}"/>
                        <p>Konkurs trwa od 15.02 do 06.03.2016r.</p>
                        <p>Tygodniowe edycje rozpoczynają się: 15.02, 22.02, 29.02.2016r.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}