{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - O produkcie{% endblock %}

{% block body %}
    <div class='modalBody'>
        <div class="about">
            <div class="row">
                <div class="wrapperAbout">
                    <h1>O produkcie</h1>
                    <div class="col-md-6 left-box">
                        <p>Fenspiryd (np. Fosidal) działa przeciwzapalnie głównie w błonie śluzowej dróg oddechowych.<sup>1</sup></p>
                        <p>Działanie przeciwzapalne fenspirydu i jego oddziaływanie na drogi oddechowe stanowią podstawę do włączenia go do kompleksowej terapii ostrych wirusowych chorób zapalnych górnych dróg oddechowych u dzieci i dorosłych.<sup>1</sup></p>
                    </div>
                    <div class="col-md-6 right-box">
                        <ul>
                            <li><i class="fa fa-angle-right"></i>Dzieci w wieku powyżej 2 lat o masie ciała &lt;10 kg <span>10–20 ml / 24h</span></li>
                            <li><i class="fa fa-angle-right"></i>Dzieci w wieku powyżej 2 lat o masie ciała &gt;10 kg <span>30–60 ml / 24h</span></li>
                            <li><i class="fa fa-angle-right"></i>Dorośli: <span>45–90 ml / 24h</span></li>
                        </ul>
                    </div>
                    <p class="note">1. Л.И.Дворецкий, А.В.Полевщиков, А.С.Соколов. Эффективность противовоспалительной терапии при острых респираторных вирусных инфекциях у взрослых в амбулаторной практике: результаты программы „Эскулап”. Consilium medicum, Том 8, №1</p>
                    <h2 class="text-center">Mechanizm działania fenspirydu (schemat)<sup>2,3</sup></h2>
                    <p class="specialBlue text-center">fenspiryd</p>
                    <img class="img-responsive center-block" alt="" src="{{ asset('assets/images/bg_fenspiryd.png') }}">
                    <h2 class="special text-center">Leczenie objawowe (kaszel i odkrztuszanie) w przebiegu chorób zapalnych oskrzeli i płuc.</h2>
                    <p class="note">2. Самсыгина Г.А. Противовоспалительная терапия острых респираторных инфекций у детей. Педиатрия, Том 90, №1, 2011</p>
                    <p class="note">3. ChPL Fosidal, 2 mg/ml, syrop</p>
                    <div class="fenspirydDescription">
                        <h2 class="text-center">Typowy przebieg zakażenia dróg oddechowych i zalecenia dotyczące leczenia objawowego i przyczynowego.<sup>4,*</sup></h2>
                        <img class="img-responsive center-block img-table" alt="" src="{{ asset('assets/images/przebiego-choroby.png') }}"/>
                        <p>Fenspiryd może być stosowany w każdej fazie zakażenia - w leczeniu objawowym kaszlu i odkrztuszania</p>
                        <p>Leków mukolitycznych i mukokinetycznych nie powinno się podawać później niż o godz. 16-17, aby nie pobudzać sekrecji w godzinach nocnych.<sup>4</sup></p>
                        <p>Fosidal może być stosowany o każdej porze dnia i nocy.<sup>5</sup></p>
                        <p class="note">4. Na podstawie: Albrecht P. Czy i jak leczyć objawowo zakażenia dróg oddechowych. Medycyna Rodzinna 2004; 6: 268-277.</p>
                        <p class="note">5. ChPL preparatu Fosidal.</p>
                        <p class="note">* Stosowanie leków zgodnie z zarejestrowanymi wskazaniami.</p>
                    </div>
                    <a class="seeMore" title="" href="{{asset('uploads/Fosidal syrop_SPC_ 25_02_2014.pdf')}}" target="_blank">Pobierz Chpl<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}