{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - O produkcie{% endblock %}

{% block body %}
    <div class='modalBody'>
        <div class="about">
            <div class="row">
                <div class="wrapperAbout">
                    <h1>O produkcie</h1>
                    <div class="col-md-6 left-box">
                        <p>Fenspiryd (np. Fosidal) działa <b class="yellow">przeciwzapalnie</b> głównie w błonie śluzowej dróg oddechowych.<sup>1</sup></p>
                        <p>Działanie przeciwzapalne fenspirydu i jego oddziaływanie na drogi oddechowe stanowią podstawę do włączenia go do <b class="yellow">kompleksowej terapii ostrych wirusowych chorób zapalnych</b> górnych dróg oddechowych u dzieci i dorosłych.<sup>1</sup></p>
                    </div>
                    <div class="col-md-6 right-box">
                        <ul>
                            <li><i class="fa fa-angle-right"></i>Dzieci w wieku powyżej 2 lat o masie ciała &lt;10 kg 10–20 ml / 24h</li>
                            <li><i class="fa fa-angle-right"></i>Dzieci w wieku powyżej 2 lat o masie ciała &gt;10 kg 30–60 ml / 24h</li>
                            <li><i class="fa fa-angle-right"></i>Dorośli: 45–90 ml / 24h</li>
                        </ul>
                    </div>
                    <p class="note">1. Л.И.Дворецкий, А.В.Полевщиков, А.С.Соколов. Эффективность противовоспалительной терапии при острых респираторных вирусных инфекциях у взрослых в амбулаторной практике: результаты программы „Эскулап”. Consilium medicum, Том 8, №1</p>
                    <h2>Mechanizm działania fenspirydu (schemat)<sup>1,2</sup></h2>
                    <p>fenspiryd</p>
                    <p>Leczenie objawowe (kaszel i odkrztuszanie) w przebiegu chorób zapalnych oskrzeli i płuc.</p>
                    <p>1. Самсыгина Г.А. Противовоспалительная терапия острых респираторных инфекций у детей. Педиатрия, Том 90, №1, 2011</p>
                    <p>2. ChPL Fosidal, 2 mg/ml, syrop</p>
                    <h2>Typowy przebieg zakażenia dróg oddechowych i zalecenia dotyczące leczenia objawowego i przyczynowego.<sup>1,*</sup></h2>
                    <p>Fenspiryd może być stosowany w każdej fazie zakażenia - w leczeniu objawowym kaszlu i odkrztuszania</p>
                    <p>Leków mukolitycznych i mukokinetycznych nie powinno się podawać później niż o godz. 16-17, aby nie pobudzać sekrecji w godzinach nocnych.<sup>1</sup></p>
                    <p>Fosidal może być stosowany o każdej porze dnia i nocy.<sup>2</sup></p>
                    <p>1. Na podstawie: Albrecht P. Czy i jak leczyć objawowo zakażenia dróg oddechowych. Medycyna Rodzinna 2004; 6: 268-277.</p>
                    <p>2. ChPL preparatu Fosidal.</p>
                    <p>* Stosowanie leków zgodnie z zarejestrowanymi wskazaniami.</p>
                    <a title="" href="">Pobierz Chpl</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}