{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Regulamin{% endblock %}

{% block body %}
    <div class='modalBody'>
        <div class="bylaw">
            <h1>REGULAMIN KONKURSU  ...  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis magna ut tortor commodo euismod</h1>
            <ol>
                <li>Postanowienia ogólne
                    <ol>
                        <li>Niniejszy Regulamin określa zasady uczestnictwa w konkursie kierowanego do farmaceutów i techników farmacji (dalej: Konkurs).</li>
                        <li>Organizatorem Konkursu jest Polpharma Biuro Handlowe Sp. z o.o., z siedzibą w Warszawie (00 - 728), ul. Bobrowiecka 6, wpisana do rejestru przedsiębiorców KRS pod numerem 0000043523, przez Sąd Rejonowy dla .st. Warszawy, XIII Wydział Gospodarczy KRS, NIP 525-21-13-462, kapitał zakładowy: 6.187.000 złotych (dalej: Organizator ).</li>
                        <li>Fundatorem nagród w Konkursie jest Organizator.</li>
                        <li>W Konkursie mogą uczestniczyć wyłącznie osoby fizyczne wykonujące na terytorium Rzeczpospolitej Polskiej zawód farmaceuty lub technika farmacji (dalej: Uczestnicy).</li>
                        <li>W Konkursie nie mogą brać udziału pracownicy Organizatora, Zakładów Farmaceutycznych Polpharma S.A. z siedzibą w Starogardzie Gdańskim, Medana Pharma S.A. z siedzibą w Sieradzu, Warszawskie Zakłady Farmaceutyczne Polfa S.A. z siedzibą w Warszawie, Herbapol Lublin S.A. z siedzibą w Lublinie oraz członkowie ich najbliższych rodzin (małżonkowie, rodzeństwo, zstępni, wstępni).</li>
                    </ol>
                </li>
                <li>Czas trwania Konkursu
                    <ol>
                        <li>Konkurs rozpoczyna się 12.01.2015 i trwa do 08.02.2015r.</li>
                        <li>Tygodniowe etapy konkursu rozpoczynają się 12.01, 19.01, 26.01,02.02.2015r.</li>
                        <li>Rozstrzygnięcie każdego tygodniowego etapu Konkursu nastąpi w ciągu 7 dni roboczych od zakończenia tygodniowego etapu.</li>
                    </ol>
                </li>
                <li>Komisja Konkursowa
                    <p>Celem zapewnienia prawidłowej organizacji i przebiegu Konkursu, a w szczególności w celu dokonania oceny prawidłowości zgłoszeń konkursowych oraz dokonania wyboru zwycięzców, Organizator powoła Komisję Konkursową. W skład Komisji Konkursowej wejdą osoby delegowane przez Organizatora.</p>
                </li>
                <li>Zasady Konkursu
                    <ol>
                        <li>Przedmiotem Konkursu jest wyłonienie zwycięzców spośród Uczestników, którzy jako pierwsi prawidłowo odpowiedzą na pytania konkursowe.</li>
                        <li>Wysyłając odpowiedź Uczestnik akceptuje zapisy niniejszego regulaminu.</li>
                        <li>Pytania konkursowe będą dostępne na stronie www.konkursfosidal.pl po kliknięciu w banner konkursowy przesłany e-mailem lub dostępny na serwisach dla farmaceutów. Odpowiedzi udziela się zaznaczając prawidłową odpowiedź. Udzielenie 7 poprawnych odpowiedzi stanowi warunek uczestnictwa w Konkursie.</li>
                        <li>W każdym tygodniu trwania konkursu nagrodzonych zostanie 250 Uczestników, którzy jako pierwsi prawidłowo odpowiedzą na pytania konkursowe. W całym konkursie nagrodzonych zostanie łącznie 1000 wygranych.</li>
                        <li>Każdy z uczestników może wygrać maksymalnie po jednej nagrodzie z każdego rodzaju (czyli 1 kubek termiczny, 1 zestaw kosmetyków: krem do rąk + mydło do rąk oraz 1 krem do rąk). Zasady przyznawania nagród w każdym etapie konkursu będą następujące:</li>
                        <p>TABELKA</p><br>
                        <li>Wyniki Konkursu zostaną ogłoszone na stronie internetowej www.konkursfosidal.pl w terminie do 7 dni roboczych po zakończeniu każdego etapu Konkursu.</li>
                        <li>Udział w Konkursie oznacza zgodę na opublikowanie imienia, nazwiska oraz miejscowości zamieszkania (dane korespondencyjne podane podczas rejestracji na stronie www.konkursfosidal.pl) Uczestnika Konkursu na stronie internetowe www.konkursfosidal.pl.</li>
                    </ol>
                </li>
                <li>Nagrody w Konkursie
                    <ol>
                        <li>Organizator przewidział 1 000 nagród. Nagrodami są:
                            <ul>
                                <li>kubek termiczny marki Contigo;</li>
                                <li>zestaw: krem do rąk firmy Stara Mydlarnia o zapachu pomarańczy oraz mydło do rąk firmy Stara Mydlarnia o zapachu pomarańczy ;</li>
                                <li>krem do rąk firmy Stara Mydlarnia o zapachu pomarańczy.</li>
                                <li>Wartość każdej nagrody nie przekracza kwoty 100 zł brutto.</li>
                            </ul>
                        </li>
                        <li>W każdym tygodniowym etapie konkursu komisja konkursowa nagrodzi 250 osób, które jako pierwsze prawidłowo odpowiedzą na wszystkie pytania. Kolejność nagradzania jest następująca:
                            <ul>
                                <li>pierwsze 100 osób w danym tygodniowym etapie, które poprawnie odpowie na pytania konkursowe otrzyma kubek termiczny firmy Contigo</li>
                                <li>kolejne 125 osób w danym tygodniowym etapie, które poprawnie odpowie na pytania konkursowe otrzyma zestaw: krem do rąk firmy Stara	  Mydlarnia o zapachu pomarańczy oraz mydło do rąk firmy Stara Mydlarnia o zapachu pomarańczy</li>
                                <li>kolejne 25 osób w danym tygodniowym etapie, które poprawie odpowie na pytania konkurs owe otrzyma zestaw: krem do rąk firmy Stara	  Mydlarnia o zapachu pomarańczy.</li>
                            </ul>
                        </li>
                        <li>Nagrody nie podlegają zamianie na równowartość pieniężną.</li>
                        <li>Jakiekolwiek roszczenia Uczestników dotyczące rodzaju, jakości i innych właściwości nagród są wyłączone.</li>
                        <li>Każdy Uczestnik może otrzymać tylko jedną nagrodę z danego rodzaju (jeden Uczestnik może wygrać maksymalnie 3 nagrody: po jednej z każdego typu).</li>
                        <li>Nagrody zostaną wysłane przesyłką kurierską na koszt Organizatora, niezwłocznie po rozstrzygnięciu konkursu.</li>
                    </ol>
                </li>
                <li>Postanowienia końcowe
                    <ol>
                        <li>Organizator zastrzega sobie prawo weryfikacji, czy nagrodzony Uczestnik spełnia warunki określone w Regulaminie Konkursu. W tym celu może żądać od Uczestnika złożenia określonych oświadczeń, podania określonych danych bądź przedłożenia określonych dokumentów. Niespełnienie warunków Konkursu lub odmowa spełnienia powyższych żądań powoduje wykluczenie danego Uczestnika z Konkursu z jednoczesnym wygaśnięciem prawa do nagrody i jakichkolwiek innych roszczeń w stosunku do Organizatora.</li>
                        <li>Organizator nie ponosi odpowiedzialności za wadliwe działanie lub przerwy w działaniu sieci Internet, a także za opóźnienia w dostarczeniu, niedostarczenie lub uszkodzenie przesyłki z winy operatora pocztowego.</li>
                        <li>Reklamacje co do przebiegu Konkursu mogą być zgłaszane listownie na adres Organizatora, z tytułem „Reklamacja do konkursu dla farmaceutów: Fosidal”, nie później niż w ciągu 7 dni od dnia ogłoszenia wyników.</li>
                        <li>Prawo złożenia reklamacji przysługuje jedynie Uczestnikom Konkursu.</li>
                        <li>Pisemna reklamacja powinna zawierać imię i nazwisko oraz adres e-mail Uczestnika, podany przy rejestracji na stronie, jak również dokładny opis i wskazanie przyczyny reklamacji.</li>
                        <li>Reklamacje rozpatrywane są przez Organizatora w terminie 14 dni od dnia doręczenia Organizatorowi.</li>
                        <li>Decyzja Organizatora w przedmiocie reklamacji jest ostateczna i wiążąca. Uczestnik zostanie powiadomiony o decyzji Organizatora listownie na adres podany w reklamacji w terminie 7 dni od daty rozpatrzenia reklamacji.</li>
                        <li>Dochodzenie roszczeń na drodze sądowej może nastąpić wyłącznie po wyczerpaniu procedury reklamacyjnej przewidzianej w niniejszym Regulaminie.</li>
                        <li>Administratorem danych osobowych udostępnianych przez Uczestników Konkursu jest Organizator. Dane osobowe będą przetwarzane dla celów organizacji Konkursu oraz wydania przyznanych nagród, a także informowania o wynikach Konkursu. Uczestnik może w każdej chwili uzyskać dostęp do swoich danych osobowych i żądać ich poprawienia, zmiany lub usunięcia. Podanie danych osobowych uczestników jest dobrowolne, lecz ich brak uniemożliwia wzięcie udziału w konkursie. Żądanie usunięcia danych osobowych w czasie trwania Konkursu jest równoznaczne z rezygnacją z uczestnictwa w Konkursie</li>
                        <li>Zgłoszenie do udziału w Konkursie oznacza zaakceptowanie wszystkich postanowień niniejszego Regulaminu.</li>
                        <li>Regulamin Konkursu jest dostępny dla Uczestników w siedzibie Organizatora oraz na stronie internetowej www.konkursfosidal.pl</li>
                        <li>Postanowienia Regulaminu są wyłączną podstawą prowadzenia Konkursu, a ich wykładnia i interpretacja należy wyłącznie do Komisji Konkursowej.</li>
                        <li>Organizator zastrzega sobie możliwość zmiany zasad Konkursu i treści niniejszego Regulaminu bez podania przyczyny, jeżeli nie wpłynie to na pogorszenie warunków udziału w Konkursie i nie będzie naruszało podstawowej koncepcji Konkursu.</li>
                        <li>W sprawach nieuregulowanych stosuje się przepisy Kodeksu cywilnego.</li>
                        <li>Niniejszy konkurs nie jest grą losową w rozumieniu ustawy o grach hazardowych z dnia 19 listopada 2009 roku.</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}