{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Regulamin{% endblock %}

{% block body %}
    <div class='modalBody'>
        <div class="bylaw">
            <h1>{{ page.texts[0].title}}</h1>
            {{ page.texts[0].content | raw}}
        </div>
    </div>
{% endblock %}