{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Nagrody{% endblock %}

{% block body %}
    <div class='modalBody'>
        <div class="award">
            <div class="row">
                <div class="col-md-6 left-box">
                    <div class="head">
                        <h1>Na zwycięzców w konkursie czeka aż <b>150 atrakcyjnych nagród!</b></h1>
                    </div>
                    <div class="awardText">
                        <p>W każdej z trzech tygodniowych edycji konkursu nagrodzonych zostanie <b>50 osób</b>, które jako pierwsze poprawnie odpowiedzą na wszystkie pytania zdobywając największą liczbę punktów. Łącznie w całym konkursie nagrodzonych zostanie <b>150 osób</b>.</p>
                        <p>Każdy Uczestnik w danej tygodniowej edycji konkursu ma jedno podejście do rozwiązania zadania konkursowego.</p>
                    </div>
                    <a class="take-part" title="Konkus" href="{{path('competition')}}">Weź udział<i class="fa fa-angle-double-right"></i></a>
                    <p>Konkurs trwa od 22.02 do 13.03.2016r.</p>
                    <p>Tygodniowe edycje rozpoczynają się: 22.02, 29.02, 07.03.2016r.</p>
                </div>
                <div class="col-md-6 right-box">
                    <div class="col-bg">
                        <img class="img-responsive center-block" alt="" src="{{ asset('assets/images/awards.png') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
