//Slide 1 ------------------------------------------------------------------
.slide1 {
    .txtFaza1 {
        animation-name: text3;
        animation-duration: 6s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot3;
            animation-duration: 6s;
            animation-delay: 0s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .txtFaza2 {
        animation-name: text3;
        animation-duration: 6s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot3;
            animation-duration: 6s;
            animation-delay: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .txtFaza3 {
        animation-name: text3;
        animation-duration: 6s;
        animation-delay: 4s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot3;
            animation-duration: 6s;
            animation-delay: 4s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }
}
//Slide 2 ------------------------------------------------------------------
.slide2 {
    .txtFaza1 {
        animation-name: text5;
        animation-duration: 10s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot5;
            animation-duration: 10s;
            animation-delay: 0s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza1{
        animation-name: img5;
        animation-duration: 10s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    .txtFaza2 {
        animation-name: text5;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot5;
            animation-duration: 10s;
            animation-delay: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza2{
        animation-name: img5;
        animation-duration: 10s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    .txtFaza3 {
        animation-name: text5;
        animation-duration: 10s;
        animation-delay: 4s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot5;
            animation-duration: 10s;
            animation-delay: 4s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza3{
        animation-name: img5;
        animation-duration: 10s;
        animation-delay: 4s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    .txtFaza4 {
        animation-name: text5;
        animation-duration: 10s;
        animation-delay: 6s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot5;
            animation-duration: 10s;
            animation-delay: 6s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza4{
        animation-name: img5;
        animation-duration: 10s;
        animation-delay: 6s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    .txtFaza5 {
        animation-name: text5;
        animation-duration: 10s;
        animation-delay: 8s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot5;
            animation-duration: 10s;
            animation-delay: 8s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza5{
        animation-name: img5;
        animation-duration: 10s;
        animation-delay: 8s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
}

.slide4 {
    .txtFaza1 {
        animation-name: text2;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot2;
            animation-duration: 4s;
            animation-delay: 0s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza1{
        animation-name: img2;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    .txtFaza2 {
        animation-name: text2;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot2;
            animation-duration: 4s;
            animation-delay: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .imgFaza2{
        animation-name: img2;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
}

.slide6 {
    .txtFaza1 {
        animation-name: text2;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot2;
            animation-duration: 4s;
            animation-delay: 0s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }

    .txtFaza2 {
        animation-name: text2;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        i {
            animation-name: dot2;
            animation-duration: 4s;
            animation-delay: 2s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }
    }
}