//Slide 1 ------------------------------------------------------------------------
.animeSlide1_text(){
    0% { color: @colorTextMain; list-style-type: none;} 
    3% { color: @colorYellow; list-style-type: none}
    4% { color: @colorYellow; list-style-type: initial}
    28% { color: @colorYellow; list-style-type: initial} 
    31% { color:@colorTextMain; list-style-type: none}  
    100% { color:@colorTextMain; list-style-type: none}  
}

@-webkit-keyframes slide1_text {.animeSlide1_text()}
@keyframes slide1_text {.animeSlide1_text()}

//Slide 2 ------------------------------------------------------------------------

