//Slide 1 ------------------------------------------------------------------
.slide1 {
    .faza1 {
        animation-name: slide1_text;
        animation-duration: 9s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
}

.slide1 {
    .faza2 {
        animation-name: slide1_text;
        animation-duration: 9s;
        animation-delay: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
}

.slide1 {
    .faza3 {
        animation-name: slide1_text;
        animation-duration: 9s;
        animation-delay: 6s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
}

//Slide 2 ------------------------------------------------------------------