//Anime 2 elements
.animeText2(){
    0% { color: @colorTextMain} 
    3% { color: @colorYellow}
    46% { color: @colorYellow}
    49% { color:@colorTextMain}  
    100% { color:@colorTextMain}  
}

.animeDot2() {
    0% { opacity: 0} 
    3% { opacity: 1}
    46% { opacity: 1}
    49% { opacity:0}  
    100% { opacity:0} 
}

.animeImg2(){
    0% { opacity: 0;}
    3% { opacity: 1;}
    46% { opacity: 1;}
    49% { opacity: 0;}
    100% { opacity: 0;}
}

@-webkit-keyframes text2 {.animeText2()}
@-webkit-keyframes dot2 {.animeDot2()}
@keyframes text2 {.animeText2()}
@keyframes dot2 {.animeDot2()}

@-webkit-keyframes img2 {.animeImg2()}
@keyframes img2 {.animeImg2()}

//Anime 3 elements ------------------------------------------------------------------------
.animeText3(){
    0% { color: @colorTextMain} 
    3% { color: @colorYellow}
    28% { color: @colorYellow} 
    31% { color:@colorTextMain}  
    100% { color:@colorTextMain}  
}

.animeDot3() {
    0% { opacity: 0} 
    3% { opacity: 1}
    28% { opacity: 1}
    31% { opacity:0}  
    100% { opacity:0} 
}

@-webkit-keyframes text3 {.animeText3()}
@-webkit-keyframes dot3 {.animeDot3()}
@keyframes text3 {.animeText3()}
@keyframes dot3 {.animeDot3()}

//Anime 6 elements ------------------------------------------------------------------------
.animeText6(){
    0% { color: @colorTextMain} 
    3% { color: @colorYellow}
    15% { color: @colorYellow} 
    16% { color:@colorTextMain}  
    100% { color:@colorTextMain}  
}

.animeDot6() {
    0% { opacity: 0} 
    3% { opacity: 1}
    15% { opacity: 1}
    16% { opacity:0}  
    100% { opacity:0} 
}

.animeImg6(){
    0% { opacity: 0;}
    3% { opacity: 1;}
    15% { opacity: 1;}
    16% { opacity: 0;}
    100% { opacity: 0;}
}

@-webkit-keyframes text6 {.animeText6()}
@-webkit-keyframes dot6 {.animeDot6()}
@keyframes text6 {.animeText6()}
@keyframes dot6 {.animeDot6()}

@-webkit-keyframes img6 {.animeImg6()}
@keyframes img6 {.animeImg6()}