//Anime 2 elements
.animeText2(){
    0% { color: @colorTextMain; list-style-type: none;} 
    3% { color: @colorYellow; list-style-type: none}
    4% { color: @colorYellow; list-style-type: initial}
    46% { color: @colorYellow; list-style-type: initial}
    49% { color:@colorTextMain; list-style-type: none}  
    100% { color:@colorTextMain; list-style-type: none}  
}

.animeImg2(){
    0% { opacity: 0;}
    3% { opacity: 1;}
    46% { opacity: 1;}
    49% { opacity: 0;}
    100% { opacity: 0;}
}

@-webkit-keyframes text2 {.animeText2()}
@keyframes text2 {.animeText2()}

@-webkit-keyframes img2 {.animeImg2()}
@keyframes img2 {.animeImg2()}

//Anime 3 elements ------------------------------------------------------------------------
.animeText3(){
    0% { color: @colorTextMain; list-style-type: none;} 
    3% { color: @colorYellow; list-style-type: none}
    4% { color: @colorYellow; list-style-type: initial}
    28% { color: @colorYellow; list-style-type: initial} 
    31% { color:@colorTextMain; list-style-type: none}  
    100% { color:@colorTextMain; list-style-type: none}  
}

@-webkit-keyframes text3 {.animeText3()}
@keyframes text3 {.animeText3()}

//Anime 6 elements ------------------------------------------------------------------------
.animeText6(){
    0% { color: @colorTextMain; list-style-type: none;} 
    2% { color: @colorYellow; list-style-type: none}
    3% { color: @colorYellow; list-style-type: initial}
    15% { color: @colorYellow; list-style-type: initial} 
    16% { color:@colorTextMain; list-style-type: none}  
    100% { color:@colorTextMain; list-style-type: none}  
}

.animeImg6(){
    0% { opacity: 0;}
    2% { opacity: 1;}
    15% { opacity: 1;}
    16% { opacity: 0;}
    100% { opacity: 0;}
}

@-webkit-keyframes text6 {.animeText6()}
@keyframes text6 {.animeText6()}

@-webkit-keyframes img6 {.animeImg6()}
@keyframes img6 {.animeImg6()}