.barBox {
    
    .side {
        min-height: 180px;
        width: 35%;
        background-color: @colorTextYellow;
        float: left
    }
    
    .product {
        min-height: 180px;
        position: relative;
        background-color: transparent;
        float: left;
        width: 30%
    }
}
