body {
    font-family: "Open sans";
    font-size: 12px;
    background-color: @colorWhite;
    color: @colorTextMain;

    .mainBox {
        padding-left: 0;
        padding-right: 0;
        background-size: cover;
        @media(max-width: 1920px) {
            background-size: contain;
        }
        background-position-y: 100px;
        background-repeat: no-repeat;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: #3a3a3a;
    font-family: 'Open Sans';
    font-weight: bold;
}
h1 {
    font-size: 36px;
    line-height: 48px;
}