body {
    font-family: 'Open sans';
    font-size: 14px;
    background-color: @colorWhite;
    color: @colorTextMain;

    .mainBox {
        padding-left: 0;
        padding-right: 0;
        background-size: auto 1100px;
        background-position: 50% 0%;
        min-height: 1100px;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: #3a3a3a;
    font-family: 'Open Sans';
    font-weight: bold;
}
h1 {
    font-size: 36px;
    line-height: 36px;
}
.yellow {
    color: @colorYellow;
}
.nowrap {
    white-space: nowrap;
}