body {
    font-family: "Open sans";
    font-size: 12px;
    background-color: @colorWhite;
    color: @colorTextMain;

    .mainBox {
        padding-left: 0;
        padding-right: 0;
        background-size: cover;
        @media(max-width: 1600px) {
            background-size: contain;
        }
        background-position-y: 100px;
        background-repeat: no-repeat;
    }

    .modalBody {
        margin-top: 100px;
        margin-bottom: 60px;
        border: 20px solid @colorWhite;
        background-color: @colorBackgroundTransparent;
        padding: 30px;
    }

}