.modalBody {
 margin-top: 100px;
 margin-bottom: 60px;
 border: 20px solid @colorWhite;
 background-color: @colorBackgroundTransparent;
 //padding: 30px;
 .home {
  .col-md-6 {
   padding: 0;
   position: static;
   h1 {
    color: #3a3a3a;
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: bold;

    text-transform: uppercase;
   }
   h2 {
    color: #3a3a3a;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: normal;
    margintop: 85px 0  0 0;
   }
   ul {
    list-style-type: none;
    margin-top: 22px;
    padding-left: 0;
    li {
     color: #1a171b;
     font-family: 'Open Sans';
     font-size: 16px;
     line-height: 18px;
     margin-bottom: 22px;
     &:before {
      background-color: #fdc010;
      color: #fff;
      float: left;
      height: 31px;
      line-height: 31px;
      margin-right: 19px;
      text-align: center;
      width: 31px;
     }
     &:first-child:before {
      content: '1';
     }
     &:nth-child(2):before {
      content: '2';
     }
     &:nth-child(3):before {
      content: '3';
     }
    }
   }
   .take-part {
    background-color: #3a3a3a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: italic;
    line-height: 60px;
    margin-bottom: 25px; 
    padding: 0 0 0 6%;
    width: 57%;
    &:hover {
     text-decoration: none;
    }
   }
  }
  .left {
   p {
     color: #1a171b;
     font-family: 'Open Sans';
     font-size: 13px;
     line-height: 16px;
     margin-bottom: 15px;
   }
  }
  .right {
   p {
    color: #1a171b;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 2px 8%;
   }
  }
  @media (min-width: @screen-lg-min) {
  .row {
    position: relative;
    .col-md-6 {
     padding: 0;
     position: static;
     &.left {
      padding: 0 0 0 3.5%;
      //padding: 0 0 0 32px;
     }
     h1 {
      left: 3.5%;
      position: absolute;
      top: 30px;
      width: 100%;
     }
     h2 {
      margin-top: 85px;
     }
    }
   }
  }
 }
}