.modalBody {
    margin-top: 100px;
    margin-bottom: 60px;
    border: 20px solid @colorWhite;
    background-color: @colorBackgroundTransparent;  
    .home {
        h1 {
            text-transform: uppercase;
        }
        h2 {
            color: #3a3a3a;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: normal;
            line-height: 22px;
            margin-top: 13px;
        }
        ul {
            list-style-type: none;
            margin: 22px 10px 0 50px;
            padding-left: 0;
            @media (min-width: @screen-lg-min) {
                margin-top: 140px;
            }
            li {
                color: #1a171b;
                font-family: 'Open Sans';
                font-size: 16px;
                line-height: 18px;
                margin: 0 0 22px 0;
                position: relative;
                span {
                    background-color: #fdc010;
                    color: #fff;
                    display: block;
                    height: 31px;
                    line-height: 31px;
                    left: -50px;
                    margin-right: 19px;
                    position: absolute;
                    text-align: center;
                    top: 3px;
                    width: 31px;
                }
            }
        }
        .take-part {
            .button(@bgColorDark, @bgColorDarkHover, @colorYellow, @colorGray, @colorWhite, right);
            margin: 10px 0 35px 0; 
            padding: 0 0 0 6%;
            @media (min-width: @screen-xs-min) {
                width: 50%;
            }
            @media (min-width: @screen-sm-min) {
                width: 38%;
            }
            @media (min-width: @screen-md-min) {
                width: 57%;
            }
        }
        .left-box {
            @media (min-width: @screen-sm-min) {
                padding: 0 0 0 3.5%;
            }
            p {
                color: #1a171b;
                font-family: 'Open Sans';
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 18px;
                
                &.firstP{
                    margin-bottom: 33px;
                }
            }
        }
        .right-box {
            @media (min-width: @screen-sm-min) {
                padding-left: 0;
            }
            .col-bg {
                //background: #e7e7e7;
                //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                //background: -moz-linear-gradient(top,  #e7e7e7 0%, #ffffff 100%);
                //background: -webkit-linear-gradient(top,  #e7e7e7 0%,#ffffff 100%);
                //background: linear-gradient(to bottom,  #e7e7e7 0%,#ffffff 100%);
                //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 );
                padding-bottom: 20px;
                
                img{
                    margin-top: 90px;
                    margin-bottom: 5px;
                }
            }
            p {
                color: #1a171b;
                font-family: 'Open Sans';
                font-size: 12px;
                line-height: 14px;
                margin: 0 0 2px 8%;
            }
        }
        @media (min-width: @screen-lg-min) {
            .row {
                position: relative;
            }
            .col-md-6 {
                position: static;
            }
        }
        .row .head {
            @media (min-width: @screen-xs-min) {
                margin-top: 20px;
            }
            @media (min-width: @screen-lg-min) {
                left: 3.5%;
                margin-top: 0;
                position: absolute;
                top: 25px;
                width: 86%;
                h2 {
                    width: 85%;
                }
            }
        }     
    }
    .competition {
        h1 {
            margin-top: 20px;
            @media (min-width: @screen-xs-min) {
                margin: 100px 10% 0 9%;
            }
        }
        ul {
            margin: 50px 0 0 22%;

            li {
                color: @colorTextMain;
                font-size: 24px;
                font-weight: bold;
                line-height: 30px;
                span {
                    color: @colorTextMain;
                }
            }
        }
        &.slide1 {
            ul {
                margin: 20px 5% 0 10%;
                @media (min-width: @screen-xs-min) {
                    margin: 70px 5% 0 20%;
                }
                li {
                    color: #3a3a3a;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 24px;
                    //list-style-type: none;
                    margin-bottom: 30px;
                    &.active {
                        color: #fdc010;
                        list-style-type: initial;
                    }
                    span {
                        display: block;
                        font-size: 18px;
                    }
                }
            }
        }
        &.slide2 {
            ul {
                list-style-type: none;
            }
            .right-box {
                min-height: 602px;
                @media(min-width: @screen-md-min) {
                    min-height: 552px;
                }
                img {
                    position: absolute;
                    top:20px;
                    left: 50%;
                    transform: translateX(-50%);
                    @media(min-width: @screen-md-min) {
                        top: -11px;
                    }

                    &.faza {
                        opacity: 0;
                    }
                }
            }
        }        
        &.slide3 {
            position: relative;
            .row {
                @media (min-width: @screen-lg-min) {
                    background: url('/assets/images/bottle.png') 304px 260px no-repeat;
                    padding-bottom: 100px;
                }
            }
            .left-box {
                position: static;
                @media (min-width: @screen-sm-min) {
                    padding-left: 3.5%
                }
            }
            .head {
                margin-top: 20px;
                h1 {
                    margin: 0;
                }
                @media (min-width: @screen-lg-min) {
                    left: 3.5%;
                    margin-top: 0;
                    position: absolute;
                    top: 80px;
                    //width: 70%;
                }
            }
            h2 {
                font-size: 24px;
                line-height: 30px;
                @media (min-width: @screen-lg-min) {
                    margin: 215px 0 0 4%;
                }
            }
            .right-box img {
                @media (min-width: @screen-md-min) {
                    margin-top: 100px;
                }
                @media (min-width: @screen-lg-min) {
                    margin-top: 215px;
                }
            }
        }
        &.slide4 {
            h1 {
                @media (min-width: @screen-lg-min) {
                    margin-top: 190px;
                }
            }
            ul {
                list-style-type: none;
            }

            .right-box {
                min-height: 602px;
                @media(min-width: @screen-md-min) {
                    min-height: 552px;
                }
                img {
                    position: absolute;
                    top:20px;
                    left: 50%;
                    transform: translateX(-50%);
                    @media(min-width: @screen-md-min) {
                        top: -11px;
                    }

                    &.faza {
                        opacity: 0;
                    }
                }
            }
        }
        &.slide6 {
            .right-box {
                img {
                    margin-top: 90px;
                }
            }
            ul {
                list-style-type: none;
            }
        }
        &.slide8 {
            .row {
                background: url('/assets/images/fosidal.png') no-repeat 0 0;
                margin: 0;
                padding: 10px 0 89px;
                position: relative;
                @media (min-width: @screen-sm-min) {
                    padding-top: 50px;
                }
                @media (min-width: @screen-lg-min) {
                    padding-top: 110px;
                }
            }
            p {
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
                span {
                    display: block;
                    font-size: 30px;
                    font-weight: 800;
                    line-height: 30px;
                }
                &.topText {
                    margin-top: 40px;
                }
                @media (min-width: @screen-sm-min) {
                    &.topText, &.centerText, &.bottomText {
                        margin-left: 5%;
                    }
                }
                @media (min-width: @screen-lg-min) {
                    &.topText {
                        margin: 0 0 0 148px;
                    }
                    &.centerText {
                        margin: 60px 0 0 552px;
                        width: 32%;
                    }
                    &.bottomText {
                        margin: 26px 0 0 168px;
                        width: 43%;
                    }
                }
            }
        }
        &.slide7 {
            h1 {
                margin-bottom: 40px;
            }
            .left-box p {
                margin-bottom: 24px;
                margin-top: 0;
            }
            @media (min-width: @screen-md-min) {
                .right-box {
                    img {
                        margin-left: -20px;
                    }
                }
            }
        }
        .left-box {
            p {
                font-size: 20px;
                line-height: 24px;
                margin: 40px 8% 0 9%;
            }
        }
        .right-box {
            position: relative;
            @media (min-width: @screen-md-min) {
                img {
                    margin-top: -39px;
                }
            }
        }
        .bottom-modal {
            background-color: #fff;
            float: left;
            padding: 30px 0 0 0;
            width: 100%;
        }
        .pagination-slide {
            background-color: #fff;
            color: #999;
            font-style: italic;
            height: 34px;
            text-align: center;
            width: 129px;
            span {
                display: inline-block;
            }
        }
        .pagination-top {
            font-size: 18px;
            line-height: 22px;
            position: absolute;
            right: 0;
            top: 0;
            span {
                margin-top: 6px;
            }
        }
        .pagination-bottom {
            display: none;
            font-size: 24px;
            line-height: 31px;
            margin: 0 auto;
            span {
                margin-top: 16px;
            }
            @media (min-width: @screen-md-min) {
                display: block;
            }
        }
        .next {
            .button(@bgColorDark, @bgColorDarkHover, @colorYellow, @colorGray, @colorWhite, right);
            float: right;
            font-size: 17px;
            width: 100%;
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-sm-min) {
                width: 49%;
            }
            @media (min-width: @screen-md-min) {
                margin-top: -34px;
                width: 30%;
            }
        }
        .back {
            .button(@bgColorDark, @bgColorDarkHover, @colorYellow, @colorGray, @colorWhite, left);
            float: left;
            font-size: 17px;
            padding-left: 0;
            margin-bottom: 10px;
            width: 100%;
            @media (min-width: @screen-xs-min) {
                font-size: 24px;
            }
            @media (min-width: @screen-sm-min) {
                width: 49%;
            }
            @media (min-width: @screen-md-min) {
                width: 30%;
            }
            i {
                margin: 10px 20px 0 10px;
            }
        }
    }
    .award {
        .left-box {
            padding-bottom: 20px;
            @media (min-width: @screen-sm-min) {
                padding: 0 4% 20px 3.5%
            }
        }
        h1 {
            color: #1a171b;
            font-size: 30px;
            font-weight: 400;
            line-height: 32px;
            margin: 45px 0 20px 0;
        }
        p {
            color: #1a171b;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
        }
        .awardText {
            p {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 26px;
            }
        }
        .take-part {
            .button(@bgColorDark, @bgColorDarkHover, @colorYellow, @colorGray, @colorWhite, right);
            margin: 0 0 11px 0; 
            padding: 0 0 0 6%;
            @media (min-width: @screen-xs-min) {
                width: 50%;
            }
            @media (min-width: @screen-sm-min) {
                width: 38%;
            }
            @media (min-width: @screen-md-min) {
                width: 57%;
            }
        }
        .right-box {
            @media (min-width: @screen-sm-min) {
                padding-left: 0;
            }
        }
    }
    .about {
        h1 {
            font-size: 30px;
            line-height: 40px;
            margin: 35px 0 30px 0;
        }
        h2 {
            font-size: 29px;
            font-weight: 400;
            line-height: 32px;
            margin: 70px 0 0 0;
            &.special {
                line-height: 29px;
                margin: 0;
            }
        }
        p {
            &.note {
                clear: both;
                font-size: 10px;
                margin: 0;
            }
            &.specialBlue {
                color: #273583;
                font-size: 48px;
                margin: 20px 0 5px 0;
            }
        }
        .wrapperAbout {
            padding: 0 5%;
        }
        .left-box {
            padding: 0 3% 0 0;
            margin-bottom: 35px;
            p {
                font-size: 18px;
                line-height: 22px;
            }
        }
        .right-box {
            padding: 0 0 0  3%;
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 20px;
                    i {
                        //font-size: 24px;
                        margin-right: 5px;
                    }
                    span {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
        }
        .fenspirydDescription {
            h2 {
                font-size: 30px;
                font-weight: 600;
                line-height: 36px;
            }
            p {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 25px;
                &.note {
                    font-size: 10px;
                    line-height: 1.42857;
                    margin: 0;
                }
            }
            .img-table {
                margin-top: 40px;
                margin-bottom: 55px;
            }
        }
        .seeMore {
            background-color: #fe5600;
            color: #fff;
            display: block;
            font-size: 30px;
            line-height: 56px;
            padding: 0 21px;
            margin: 60px auto 0 auto;
            width: 31%;
            &:hover {
                background-color: #f34c31;
                text-decoration: none;
            }
            i {
                margin-left: 30px;
            }
        }
    }
    .bylaw {
        padding: 40px 4%;
        h1 {
            font-size: 30px;
        }
        ol {
            list-style-type: upper-roman;
            margin: 20px 0 0 4%;
            padding: 0;
            li {
                font-size: 24px;
                margin: 0 0 34px 0;
                p {
                    font-size: 16px;
                    line-height: 18px;
                    margin: 20px 0 0 0;
                }
            }
            ol {
                list-style: decimal;
                margin: 20px 0 0 0;
                li {
                    font-size: 16px;
                    line-height: 18px;
                    margin: 0 0 20px 0;
                }
                ul {
                    list-style: disc;
                    margin: 20px 0 0 0;
                }
            }
        }
    }
}
.static {
    padding: 0 4% 20px 4%;
    h1, .h1, h2, .h2, h3, .h3 {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    p {
        margin: 0 0 20px 0;
    }
    ul, ol {
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0 0 0 14px;
    }
}