.question {
    position: relative;

    h1 {
        font-weight: bold;
        font-size: 36px
    }

    .questionContainer{
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 80px;
    }

    .questionCounterTop{
        float: right;
        background-color: @colorWhite;
        font-style: italic;
        font-size: 18px;
        padding: 2px 20px;
        color: @colorTextGray;
    }

    .questionCounterBottom {
        text-align: center;
        font-size: 24px;
        color: @colorTextGray;
        padding-bottom: 20px;
    }

    .nextQuestion {
        .button(@bgColorDark, @bgColorDarkHover, @bgArrowColor, @colorWhite, right);
        position: absolute;
        z-index: 1;
        bottom: 5px;
        right: 5px;
    }

    .questions {
        list-style-type: none;
        margin-top: 30px;

        li {
            font-size: 18px;
            font-weight: bold;
            position: relative;
            padding: 15px 15px 15px 99px;
            display: block;
            border: 1px solid @borderColorDark;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            width: 100%;
            min-height: 93px;
            margin-bottom: 20px;
            
            &:last-child {
                margin-bottom: 0;
            }

            .boxLetter {
                top: 15px;
                left: 15px;
                position: absolute;
                
                span{
                    background-color: @bgArrowColor;
                    color: @colorWhite;
                    font-size: 36px;
                    text-align: center;
                    line-height: 64px;
                    display: block;
                    height: 64px;
                    width: 64px;
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                }
            }
            
            .boxQuestion {
            }
        }
    }

}

