.thankYou {
    
    h1 {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:50%;
        transform: translateX(-50%);
        font-size: 55px;
    }
    
    .desc {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left:50%;
        transform: translateX(-50%);
        
        .points {
            font-size: 48px;
        }
        .allPoint {
            font-size: 14px;
            font-weight: normal;
        }
    }
    
    .ranking {
        .button(@bgColorDark, @bgColorDarkHover, @colorYellow, @colorWhite, right);
    }
}