//Colors
@colorWhite: #fff;
@colorGray: #999999;
@colorLightGray: #e6e6e6;
@colorTextMain: #3a3a3a;
@colorBlue: #253583;
@colorYellow: #fdc010;
@colorGreen: #1eb033;
@colorRed: #da2828;

//Background
@colorBackgroundTransparent: rgba( 255, 255, 255, 0.9);

//Buttons
@bgColorDark: @colorTextMain;
@bgColorDarkHover:  #ccc;
//Grey Buttons
@bgColorGrey: #ccc;
@bgColorGreyHover: #abaaaa;

//Elements
@borderColorDark: @colorTextMain;

//Override bootstrap variables
@container-large-desktop: @container-desktop;
@grid-float-breakpoint: @screen-sm-max;