//Colors
@colorWhite: #fff;
@colorGray: #999999;//@colorTextGray
@colorTextMain: #3a3a3a;//@colorTextMain
@colorBlue: #253583;//@colorTextBlue
@colorYellow: #fdc010;//@colorTextYellow
@colorGreen: #1eb033;//@colorTextGreen
@colorRed: #da2828;

//Background
@colorBackgroundTransparent: rgba( 255, 255, 255, 0.8);

//Buttons
@bgColorDark: @colorTextMain;
@bgColorDarkHover: #262626;
//Grey Buttons
@bgColorGrey: #ccc;
@bgColorGreyHover: #abaaaa;

//Elements
@borderColorDark: @colorTextMain;

//Override bootstrap variables
@container-large-desktop: @container-desktop;