.winners {
    padding: 30px;


    .desc {
        margin-bottom: 30px;
    }

    .tableBox{
        height: 550px;
        overflow-y: auto;

        .table {
            margin-bottom: 0px;

            thead {
                tr {
                    background-color: #fff;

                    td {
                        &:first-child {
                            width: 110px;
                        }
                    }
                }
            }

            tr {
                td {
                    padding-left: 30px;

                    &:first-child {
                        text-align: center;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

