.winners {
    padding: 30px;

    h1{
        margin-bottom: 15px;
    }

    .desc {
        margin-bottom: 30px;
        text-align: justify;
    }
    .tabelHeaderWraper{
        position: relative;
        padding-top: 52px;
        background-color: #fff;

        .tableBox{
            height: 550px;
            overflow-y: auto;

            .table {
                margin-bottom: 0px;

                thead {
                    font-weight: bold;

                    tr {
                        background-color: #fff;

                        th {
                            height: 0;
                            line-height: 0;
                            padding: 0;
                            color: transparent;
                            border: none;
                            white-space: nowrap;

                            &:first-child {
                                width: 110px;
                                text-align: center;
                                padding-left: 0;
                            }

                            div {
                                position: absolute;
                                color: @colorTextMain;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                padding-left: 30px;
                                top: 0;
                                line-height: normal;
                            }
                        }
                    }
                }

                tbody{
                    tr {

                        &:nth-child(2n+2){
                            background-color: #fff;
                        }

                        &:nth-child(2n+1){
                            background-color: #f2f2f2;
                        }

                        td {
                            padding-top: 7px;
                            padding-bottom: 7px;
                            padding-left: 30px;
                            border-top: none;

                            &:first-child {
                                text-align: center;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

