{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>Nowy konkus</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-sm btn-success"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('survey_index') }}" class="btn btn-sm btn-primary">Back to the list</a>
        </li>
    </ul>
{% endblock %}
