{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="question">
        <div class="questionCounterTop"><b>Quiz.</b> Pytanie 01/04</div>
        <div class="questionContainer">
            <h1>W jakich godzinach może być podawany Fosidal?</h1>
            <ul class='questions'>
                <li class='clearfix'>
                    <div class='boxLetter'><span>A</span></div>
                    <div class='boxQuestion'>Do godziny 16-17, żeby nie pobudzać sekrecji w godzinach nocnych.</div>
                </li>
                <li class='clearfix'>
                    <div class='boxLetter'><span>B</span></div>
                    <div class='boxQuestion'>O każdej porze dnia i nocy.</div>
                <li class='clearfix'>
                    <div class='boxLetter'><span>C</span></div>
                    <div class='boxQuestion'>Do trzech razy dziennie tylko w ciągu dnia.</div>
                </li>
            </ul>
        </div>
        <div class="questionCounterBottom">Pytanie 01/04</div>
        <div class="nextQuestion">Następne pytanie <i class="fa fa-angle-double-right"></i></div>
    </div>
{% endblock %}
