{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="question">
        <h1>W jakich godzinach może być podawany Fosidal?</h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
{% endblock %}
