{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="modalBody clearfix">
    	<div class="competition slide8">
    		<div class="row">
				<p class="topText"><span>Fenspiryd (Fosidal) nie wykazuje interakcji</span> zarówno z lekami stosowanymi w terapii kaszlu suchego (dekstrometorfan,
				butamirat) i lekami stosowanymi w terapii kaszlu mokrego (bromoheksyna, ambroksol)</p>
				<p class="centerText"><span>Fosidal</span> może być stosowany o każdej porze dnia i nocy</p>
				<p class="bottomText"><span>Fenspiryd</span> może być stosowany w każdej fazie zakażenia – w leczeniu objawowym kaszlu i odkrztuszania</p>
				<div class="pagination-slide pagination-top">
					<span>Slajd 08/08</span>
				</div>
			</div>
			<div class="bottom-modal">
				<a class="button back" title="" href="{{ path('competition', {'slideNr': 7}) }}"><i class="fa fa-angle-double-left"></i>Poprzedni slajd</a>
				<div class="pagination-slide pagination-bottom">
					<span>Slajd 08/08</span>
				</div>
				<a class="button next" title="" href="{{ path('competitionQuestion') }}">Quiz<i class="fa fa-angle-double-right"></i></a>
			</div>
	    </div>
    </div>
{% endblock %}