{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="modalBody clearfix">
        <div class="competition slide6">
            <div class="row">
                <div class="col-md-6 left-box">
                    <h1>Objawy <span class="yellow">III fazy</span> zakażenia (nadkażenia bakteryjnego) górnych dróg oddechowych:</h1>
                    <ul>
                        <li class="txtFaza1">wydzielina ropna w drogach oddechowych</li>
                        <li class="txtFaza2">kaszel</li>
                    </ul>
                </div>
                <div class="col-md-6 right-box">
                    <div class="pagination-slide pagination-top">
                        <span>Slajd 06/08</span>
                    </div>
                    <img class="img-responsive center-block" alt="" src="{{ asset('assets/images/symptoms.png') }}">
                </div>
            </div>
            <div class="bottom-modal">
                <a class="button back" title="" href="{{ path('competition', {'slideNr': 5}) }}"><i class="fa fa-angle-double-left"></i>Poprzedni slajd</a>
                <div class="pagination-slide pagination-bottom">
                    <span>Slajd 06/08</span>
                </div>
                <a class="button next" title="" href="{{ path('competition', {'slideNr': 7}) }}">Następny slajd<i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}