{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class="modalBody clearfix">
    	<div class="competition slide8">
	        <h1>Slide8</h1>
	    </div>
    </div>
{% endblock %}