{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class='modalBody clearfix thankYou'>
        <div class="row">
            <div class="col-sm-6">
                <h1>Etap <br/>zakończony</h1>
            </div>
            <div class="col-sm-6">
                <div class="desc">
                    Twój wynik to:
                    <div class="podium"></div>
                    <div points> 25pkt</div>
                    <div class="allPoint">(możliwe do zdobycia 200)</div>
                </div>
                <a href="{{path('winner')}}"><div id="ranking" class="ranking">Sprawdź ranking <i class="fa fa-angle-double-right"></i></div></a>
            </div>
        </div>
    </div>
{% endblock %}