{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class='modalBody clearfix thankYou'>
        <div class="row">
            <div class="col-sm-6">
                <div class="leftDesc">
                    <h2>Dziękujemy za udział w konkursie.<br/></h2>
                    <h2>Twoje zgłoszenie zostało zarejestrowane.</h2>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <div class="desc">
                    Twój wynik to:
                    <div class="podium"></div>
                    <div class="points"> {{points}}pkt</div>
                    <div class="allPoint">(możliwe do zdobycia {{allPoints}})</div>
                </div>
{#                <a href="{{path('winner')}}"><div id="ranking" class="ranking">Sprawdź ranking <i class="fa fa-angle-double-right"></i></div></a>#}
            </div>
        </div>
    </div>
{% endblock %}