{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Konkurs{% endblock %}

{% block body %}
    <div class='modalBody clearfix'>
        <h1>Dziękujemy za udział w konkursie</h1>
        <p>
            Vestibulum ullamcorper mauris at ligula. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat
            nibh, nec pellentesque velit pede quis nunc. Nam commodo suscipit quam. Duis vel nibh at velit scelerisque suscipit. 
            Curabitur blandit mollis lacus.
        </p>
        <p>
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum eu odio. Curabitur
            blandit mollis lacus. Ut non enim eleifend felis pretium feugiat. Vestibulum purus quam, scelerisque ut, mollis sed,
            nonummy id, metus.
        </p>
    </div>
{% endblock %}