{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - Zgłoś działania nieporządane{% endblock %}

{% block body %}
    <div class='modalBody static'>
        <h1>{{ page.texts[0].title}}</h1>
        {{ page.texts[0].content | raw}}
    </div>
{% endblock %}
