{% extends "AppBundle::layout.html.twig" %}

{% block title %}Fosidal - O Firmie{% endblock %}

{% block body %}
    <div class='modalBody static'>
        <h1>O firmie</h1>
        <h2>O firmie</h2>
        <h3>O firmie</h3>
        <h4>O firmie</h4>
        <h5>O firmie</h5>
        <h6>O firmie</h6>
        <p>
            Curabitur suscipit suscipit tellus. Sed aliquam ultrices mauris. Proin magna. Donec orci lectus, aliquam ut, faucibus non, 
            euismod id, nulla. Nulla sit amet est. In ac felis quis tortor malesuada pretium. Praesent turpis. Nullam dictum felis eu
            pede mollis pretium. Morbi nec metus. Vestibulum dapibus nunc ac augue. Maecenas vestibulum mollis diam. Fusce
            ac felis sit amet ligula pharetra condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae; Fusce id purus. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi
            sem ut ipsum. Pellentesque dapibus hendrerit tortor.
        </p>
        <ul>
            <li>Curabitur suscipit suscipit tellus. Sed aliquam ultrices mauris. Proin magna. Donec orci lectus, aliquam ut, faucibus non, 
            euismod id, nulla. Nulla sit amet est. In ac felis quis tortor malesuada pretium. Praesent turpis. Nullam dictum felis eu
            pede mollis pretium. Morbi nec metus. Vestibulum dapibus nunc ac augue. Maecenas vestibulum mollis diam.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
        </ul>
        <ol>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
            <li>Pellentesque dapibus hendrerit tortor.</li>
        </ol>
    </div>
{% endblock %}