<div class="barBox clearfix">
    <div class="side left"></div>
    <div class="product" style="background-image: url('{{ asset('assets/images/fosidal_arrows.png')}}')"></div>
    <div class="side right"></div>
</div>
