<div class="footerBox">
    <div class="container">
        <footer>
            <div class='row'>
                <div class="col-md-2 logo">
                    <a href="http://www.polpharma.pl/" target="_blank"><img src="{{ asset('assets/images/logo_footer.jpg')}}" class="img-responsive" alt="polpharm - logo"/></a>
                </div>
                <div class="col-md-10">
                    <nav>
                        <ul class="clearfix">
                            <li><a href="http://www.polpharma.pl/firma/kim-jestesmy/" target="_blank">O firmie</a></li>
                            <li><a href="http://www.polpharma.pl/pl/odpowiedzialnosc-spoleczna/" target="_blank">Odpowiedzialność społeczna</a></li>
                            <li><a href="http://www.polpharma.pl/zglos-dzialania-niepozadane/" target="_blank">Zgłoś działania nieporządane</a></li>
                            <li><a href="http://www.polpharma.pl/firma/kontakt/" target="_blank">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
        <div class='textFooter'>
            <p>
                <b>Fosidal (Fenspiridi hydrochloridum). Skład i postać:</b> 1 ml syropu zawiera 2 mg fenspirydu chlorowodorku. 
                <b>Wskazania:</b> Leczenie objawowe (kaszel i odkrztuszanie) w przebiegu chorób zapalnych oskrzeli i płuc. 
                Fosidal jest wskazany do stosowania u dorosłych i u dzieci w wieku powyżej 2 lat. Uwaga: leczenie to nie może
                opóźniać rozpoczęcia leczenia antybiotykami, jeśli zachodzi taka potrzeba. <b>Dawkowanie i sposób podawania:</b> 
                Dzieci w wieku powyżej 2 lat: 4 mg/kg masy ciała na dobę, tj.: o masie ciała poniżej 10 kg: od 10 do 20 ml syropu
                na dobę w dawkach podzielonych; o masie ciała powyżej 10 kg: od 30 do 60 ml syropu na dobę w dawkach podzielonych.
                Dorośli: od 45 do 90 ml syropu na dobę w dawkach podzielonych. Fosidal jest przeciwwskazany do stosowania
                u dzieci w wieku poniżej 2 lat. <b>Sposób podawania:</b> Do stosowania doustnego. Syrop należy podawać bezpośrednio
                przed posiłkami. Do opakowania dołączona jest łyżka miarowa lub strzykawka doustna. Przeciwwskazania: 
                Nadwrażliwość na fenspiryd lub na którąkolwiek substancję pomocniczą. Nie stosować u dzieci w wieku poniżej 2 lat.
                Ostrzeżenia i zalecane środki ostrożności: Terapia fenspirydem nie zastępuje leczenia antybiotykami. Produkt leczniczy
                Fosidal zawiera substancje konserwujące – metylu parahydroksybenzoesan i propylu parahydroksybenzoesan,
                które mogą powodować reakcje alergiczne (możliwe reakcje typu późnego). Produkt leczniczy Fosidal zawiera 
                sacharozę, dlatego pacjenci z rzadkimi dziedzicznymi zaburzeniami związanymi z nietolerancją fruktozy, zespołem
                złego wchłaniania glukozy-galaktozy lub niedoborem sacharazy-izomaltazy, nie powinni przyjmować produktu 
                leczniczego. 5 ml syropu zawiera 3 g sacharozy, należy to wziąć pod uwagę u pacjentów z cukrzycą. Produkt 
                leczniczy Fosidal zawiera żółcień pomarańczową, która może powodować reakcje alergiczne (możliwe reakcje typu późnego).
                Produkt leczniczy Fosidal zawiera glicerol, który może powodować ból głowy, zaburzenia żołądkowe i biegunkę. 
                <b>Działania niepożądane:</b> Działania niepożądane zostały pogrupowane zgodnie z klasyfikacją układów i narządów
                oraz częstością występowania. Częstość występowania określona jest następująco: bardzo często: ≥ 1/10; często: ≥ 1/100
                do < 1/10; niezbyt często: ≥ 1/1000 do < 1/100; rzadko: ≥ 1/10 000 do < 1/1000; bardzo rzadko: < 1/10 000; nieznana
                (częstość nie może być określona na podstawie dostępnych danych). Zaburzenia serca: rzadko: umiarkowana tachykardia
                ustępująca po zmniejszeniu dawki. Zaburzenia żołądka i jelit: częstość nieznana: zaburzenia czynności żołądka i jelit, 
                nudności, bóle w nadbrzuszu. Zaburzenia układu nerwowego: częstość nieznana: senność. Zaburzenia układu 
                immunologicznego: rzadko: wysypka, rumień, pokrzywka, obrzęk Quinckego, rumień trwały. Zgłaszanie podejrzewanych
                działań niepożądanych. Po dopuszczeniu produktu leczniczego do obrotu istotne jest zgłaszanie podejrzewanych
                działań niepożądanych.Umożliwia to nieprzerwane monitorowanie stosunku korzyści do ryzyka stosowania produktu
                leczniczego. Osoby należące do fachowego personelu medycznego powinny zgłaszać wszelkie podejrzewane 
                działania niepożądane za pośrednictwem Departamentu Monitorowania Niepożądanych Działań Produktów 
                Leczniczych Urzędu Rejestracji Produktów Leczniczych, Wyrobów Medycznych i Produktów Biobójczych: ul. 
                Ząbkowska 41; 03-736 Warszawa; Tel.: + 48 22 49 21 301; Faks: + 48 22 49 21 309; e-mail: ndl@urpl.gov.pl. 
                Podmiot odpowiedzialny: ZF Polpharma S.A. Pozwolenie na dopuszczenie do obrotu nr 18233 wydane przez 
                MZ. <b>Dodatkowych informacji o leku udziela:</b> Polpharma Biuro Handlowe Sp. z o.o., ul. Bobrowiecka 6, 00-728 
                Warszawa, tel. +48 22 364 61 00; fax +48 22 364 61 02. www.polpharma.pl. Lek dostępny bez recepty. 
            </p>
            <p>
                ChPL: 2014.02.25.
            </p>
    </div>
</div>