<div class="footerBox">
    <div class="container">
        <footer>
            <div class='row'>
                <div class="col-md-2 logo">
                    <a href="http://www.polpharma.pl/" target="_blank"><img src="{{ asset('assets/images/logo_footer.jpg')}}" class="img-responsive" alt="polpharm - logo"/></a>
                </div>
                <div class="col-md-10">
                    <nav>
                        <ul class="clearfix">
                            <li><a href="http://www.polpharma.pl/firma/kim-jestesmy/" target="_blank">O firmie</a></li>
                            <li><a href="http://www.polpharma.pl/pl/odpowiedzialnosc-spoleczna/" target="_blank">Odpowiedzialność społeczna</a></li>
                            <li><a href="http://www.polpharma.pl/zglos-dzialania-niepozadane/" target="_blank">Zgłoś działania nieporządane</a></li>
                            <li><a href="http://www.polpharma.pl/firma/kontakt/" target="_blank">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>
</div>